class Env {
  Env._();

  static const sentryDsn = '';
  static const enableErrorTracking = false;
  static const enableAnalytics = false;
  static const firebaseIosApiKey = '';
  static const firebaseIosAppId = '';
  static const firebaseIosClientId = '';
  static const firebaseAndroidApiKey = '';
  static const firebaseAndroidAppId = '';
  static const firebaseMessagingSenderId = '';
  static const firebaseProjectId = '';
  static const firebaseStorageBucket = '';
}
